class AddColsToShelters < ActiveRecord::Migration
  def change
    add_column :pets, :picture_url, :string
  end
end





views/shelters/show


<%= @shelter.inspect %>

<h1>
    Meet
    <%= @pet.name.capitalize %></h1>

<div class='medium-12 clearfix puppy-bio' >
    <img src='<%= @pet.picture_url || "http://lorempixel.com/300/300/animals/8/" %>
    '
         class='puppy large right'/>
    <h3>My story</h3>
    <p>
        <%= @pet.bio %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, rerum odit ipsa iste sint reprehenderit eveniet asperiores porro perspiciatis, optio, architecto mollitia accusamus in autem officiis culpa. Neque natus fuga commodi sequi vel dolorem porro, quia temporibus et. Quae aliquam laborum tempora aliquid, sit ducimus assumenda aperiam velit quia eius recusandae soluta itaque dolores, qui iste eaque fugiat, in nemo deleniti consequatur deserunt repellat possimus dolore nihil natus? Nulla, repellat dignissimos suscipit. Vero, a. Repellat, provident voluptatum odio fuga obcaecati atque aspernatur praesentium voluptatem, laborum, ipsam voluptas? Molestias, iure, repellendus. Reprehenderit earum qui eligendi mollitia, autem nostrum soluta rem a!
    </p>
</div>

<div class='row large-12 panel puppy-information'>
    <h3>Puppy Details</h3>
    <ul >
        <li class='medium-4 column'> <strong>Name:</strong>
            <%= @pet.name %></li>
        <li class='medium-4 column'> <strong>Breed:</strong>
            <%= @pet.breed %></li>
        <li class='medium-4 column'>
            <strong>Sex:</strong>
            <%= @pet.sex %></li>
        <li class='medium-4 column'>
            <strong>Color:</strong>
            <%= @pet.color %></li>
        <li class='medium-4 column'>
            <strong>Size:</strong>
            <%= @pet.size %></li>
        <li class='medium-4 column'>
            <strong>Kid Friendly:</strong>
            <%= @pet.kid_friendly %></li>
    </ul>
</div> -->







# <!-- create_table "shelters", force: :cascade do |t|
#     t.string   "name"
#     t.text     "address"
#     t.string   "phone"
#     t.string   "email"  ***************CHANGE TO URL??
#     t.string   "banner"
#     t.text     "story"
#     t.datetime "created_at", null: false
#     t.datetime "updated_at", null: false
#   end -->

Similarly, you can generate a migration to remove a column from the command line:





rails generate migration AddLinkToShelters link:string


$ bin/rails generate migration RemoveEmailFromShelters email:string
generates

class RemovePartNumberFromProducts < ActiveRecord::Migration
  def change
    remove_column :products, :part_number, :string
  end
end














# K-9 Lifesavers


# 38.988290, -77.001849

# K-9 Lifesavers Dog Rescue
# 34 Rollingside Drive
# Fredericksburg, VA 22406

# 721 Erie Ave. Takoma Park, MD 20912

# Main: (202) 263-1990

# http://k-9lifesavers.org

# "K-9 Lifesavers is an all-volunteer, approved 501(c)(3), private non-profit rescue group, dedicated to saving the lives of homeless and abandoned dogs from high-kill shelters, and other high-risk situations. We rescue dogs and puppies from high- kill shelters and high-risk situations in Alabama, Georgia, West Virginia, the Carolina’s, Tennessee, and Kentucky, where dogs are only held anywhere from three to seven days before euthanasia.

# We do not have a shelter facility and hold adoption events every weekend, throughout the DC Metro area. K-9 Lifesavers works with dedicated volunteer foster homes, local veterinarians, trainers, and doggie daycare/kenneling facilities to provide loving temporary care while we find well-matched, carefully screened forever homes for each dog."


# Lucky Dog Animal Rescue

# 38.896482, -77.132518

# 5159 Lee Highway
# Arlington, VA 22207

# 202.741.5428

# http://www.luckydoganimalrescue.org/

# Lucky Dog Animal Rescue is a non-profit organization dedicated to rescuing homeless and abandoned animals, primarily dogs from high-kill shelters and owners who can no longer care for them. By working with committed volunteers, foster homes, local veterinarians, trainers, and boarding facilities, we are able to rescue hundreds of animals every year, provide them with loving temporary care, and find them well-matched, carefully screened forever homes. We also serve as a resource to our community and all pet owners by providing education and information on responsible pet ownership, including the importance of spay/neuter, positive behavior training, and good nutrition.

# A Lucky Dog is a fortunate animal who we are able to rescue from a high-kill shelter or from an owner who needs to re-home his or her pet.  Right now, "Lucky Dogs" are primarily of the canine variety, but Lucky Dog Animal Rescue plans to expand to help animals of all kinds.  We consider any animal in need a potential "Lucky Dog"!



# The Washington Animal Rescue League

# 38.961363, -77.008390

# 71 Oglethorpe Street, NW 
# Washington, DC 20011

# http://www.warl.org/

# Email: warl@warl.org
# Phone: (202)726-2556

# Celebrating its Centennial Anniversary in 2014, The Washington Animal Rescue League is the oldest  animal shelter in the District of Columbia.  Its mission continues to evolve as conditions change and animals face new and different challenges, but the core of that mission remains unchanged:  to honor and strengthen the human-animal bond by providing the best quality care for homeless dogs and cats, and supporting companion animals in their homes through affordable veterinary care, community outreach, and education.

# The Washington Animal Rescue League is known not only for its long history of compassionate care for animals, but for its innovative shelter, which is designed to promote the physical, emotional, and social healing of animals recovering from past traumas, and for the progressive programs that benefit animals and the community.





# Lost Dog & Cat Rescue Foundation

# 38.888166, -77.139082  (made it up)

# https://lostdogrescue.org

# P.O. Box 50037
# Arlington, VA 22205

# Phone: (703) 295-DOGS

# To inquire about a dog:
# dogs@lostdogrescue.org

# To inquire about a cat:
# cats@lostdogrescue.org

# For general inquiries:
# info@lostdogrescue.org



# The Lost Dog & Cat Rescue Foundation (LDCRF) rescues abandoned or displaced dogs and cats from the threat of euthanasia in over-crowded shelters or other at-risk situations and places them for adoption into loving homes. All animals in the care of LDCRF are spayed or neutered and fully vaccinated prior to adoption and any special medical needs are addressed. 

# The Lost Dog & Cat Rescue Foundation places about 2,000 dogs and cats each year into adoptive homes, for a total of more than 15,000 since 2001! Most dogs and cats await adoption at the 61-acre Lost Dog & Cat Ranch in Sumerduck, Virginia. Those needing special care or too young for adoption are in foster homes until they are ready for their forever families.


# City Dogs Rescue

# 38.913470, -77.047971

# http://www.citydogsrescuedc.org/

# 2121 Decatur Place NW
# Unit #3
# Washington, DC 20008

# City Dogs Rescue rescues adoptable dogs in overcrowded and high-kill shelters, where resources are severely limited. We offer a lifeline to as many of these wonderful pups as possible. Sadly, many of the dogs that City Dogs Rescue takes in are just days — and sometimes hours — away from being euthanized for no reason other than lack of space. By finding these dogs permanent and loving homes in the DC metropolitan area, we can enrich lives — both human and canine. We welcome your help in any capacity — through volunteering, fostering, adopting, sponsoring and/or donating.

# City Dogs Rescue is a 501(c)(3) non-profit organization that is not a "shelter." We are a network of volunteers (most will full-time jobs) who foster dogs with volunteer families and donated boarding facilities. Please remember that most of our dogs are living in the homes of our volunteers and therefore cannot be visited without an adoption application and appointment with the foster family. City Dogs Daycare serves as a foster home to some of the dogs, and can only show adoptable dogs with an appointment and completed adoption application as well. 


















# <!-- Pets show page
# <h1>
#     Meet
#     <%= @pet.name.capitalize %></h1>

# <div class='medium-12 clearfix puppy-bio' >
#     <img src='<%= @pet.picture_url || "http://lorempixel.com/300/300/animals/8/" %>
#     '
#          class='puppy large right'/>
#     <h3>My story</h3>
#     <p>
#         <%= @pet.bio %>
#         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, rerum odit ipsa iste sint reprehenderit eveniet asperiores porro perspiciatis, optio, architecto mollitia accusamus in autem officiis culpa. Neque natus fuga commodi sequi vel dolorem porro, quia temporibus et. Quae aliquam laborum tempora aliquid, sit ducimus assumenda aperiam velit quia eius recusandae soluta itaque dolores, qui iste eaque fugiat, in nemo deleniti consequatur deserunt repellat possimus dolore nihil natus? Nulla, repellat dignissimos suscipit. Vero, a. Repellat, provident voluptatum odio fuga obcaecati atque aspernatur praesentium voluptatem, laborum, ipsam voluptas? Molestias, iure, repellendus. Reprehenderit earum qui eligendi mollitia, autem nostrum soluta rem a!
#     </p>
# </div>

# <div class='row large-12 panel puppy-information'>
#     <h3>Puppy Details</h3>
#     <ul >
#         <li class='medium-4 column'> <strong>Name:</strong>
#             <%= @pet.name %></li>
#         <li class='medium-4 column'> <strong>Breed:</strong>
#             <%= @pet.breed %></li>
#         <li class='medium-4 column'>
#             <strong>Sex:</strong>
#             <%= @pet.sex %></li>
#         <li class='medium-4 column'>
#             <strong>Color:</strong>
#             <%= @pet.color %></li>
#         <li class='medium-4 column'>
#             <strong>Size:</strong>
#             <%= @pet.size %></li>
#         <li class='medium-4 column'>
#             <strong>Kid Friendly:</strong>
#             <%= @pet.kid_friendly %></li>
#     </ul>
# </div> -->





# <!--MATCHES SHOW PAGE
#  <section class="hero large-12 columns"
#   style='background-image: url("http://lorempixel.com/800/800/cats/");'>
#   <div class="row intro panel match-details ">
#     <h2>
#       Meet
#       <%=@pet.name %></h2>
#     <div class="medium-9 left match-content">
#       <h3>My story</h3>
#       <p>
#         <%= @pet.bio %>
#         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, rerum odit ipsa iste sint reprehenderit eveniet asperiores porro perspiciatis, optio, architecto mollitia accusamus in autem officiis culpa. Neque natus fuga commodi sequi vel dolorem porro, quia temporibus et. Quae aliquam laborum tempora aliquid, sit ducimus assumenda aperiam velit quia eius recusandae soluta itaque dolores, qui iste eaque fugiat, in nemo deleniti consequatur deserunt repellat possimus dolore nihil natus? Nulla, repellat dignissimos suscipit. Vero, a. Repellat, provident voluptatum odio fuga obcaecati atque aspernatur praesentium voluptatem, laborum, ipsam voluptas? Molestias, iure, repellendus. Reprehenderit earum qui eligendi mollitia, autem nostrum soluta rem a!
#       </p>
#     </div>
#     <div class="medium-3 right match-side">
#       <h4> Match Percent </h4>
#       <table>
#         <tr>
#           <th>Breed</th>
#           <td>
#             <%= @pet.breed %></td>
#         </tr>
#         <tr>
#           <th>Sex</th>
#           <td>
#             <%= @pet.sex %></td>
#         </tr>
#         <tr>
#           <th>Color</th>
#           <td>
#             <%= @pet.color %></td>
#         </tr>
#         <tr>
#           <th>Size</th>
#           <td>
#             <%= @pet.size %></td>
#         </tr>
#         <tr>
#           <th>Energy</th>
#           <td>
#             <%= @pet.energy %></td>
#         </tr>
#       </table>
#     </div>
#   </div>
# </section> -->


