<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Featured Shelter: <%= @shelter.name %> </title>
	<%= stylesheet_link_tag    "application" %>
	<%= csrf_meta_tags %>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

	<style type="text/css">
		#map-canvas {
		  width: 400px;
		  height: 400px;
		  padding: 0px;
		}
	</style>

</head>
<body>

 <nav class="top-bar" data-topbar>
          <ul class="title-area">

            <li class="name">
              <h1>
                <a href="/">
                  <img src='/assets/bff-logo.png' alt='bff logo'  class='logo'/> BFF
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>

          <section class="top-bar-section">

            <ul class="right">
              <li class="divider"></li>
              <li ><%= link_to "Find Your Pet Match", matches_path %></li>
              <li class="divider"></li>
              <!-- Below = Secure signout link for current_user -->
              <% if current_user %>
              <li><%= link_to "Favorites (#{current_user.favorites.count})", favorites_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
              <li> <a href="#" data-reveal-id="sign-in-modal">Sign In</a></li>
            <% end %>
            </ul>
          </section>
        </nav>
  <div id="sign-in-modal" class="reveal-modal remove-whitespace" data-reveal>
<div class="row">
  <%= render "login_forms/sign_in" %>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>

  <div id="sign-up-modal" class="reveal-modal remove-whitespace" data-reveal>
<div class="row">
  <%= render "login_forms/sign_up" %>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>



	<h1><%= @shelter.name.capitalize %></h1>

	<div class='medium-12 clearfix puppy-bio' >
	    
	    <h3>About Us</h3>
	    <p><%= @shelter.story %></p>
	</div>

	<div class='row large-12 panel puppy-information'>
	    <h3>Shelter Details</h3>
	    <ul >
	        <li class='medium-4 column'> <strong>Name:</strong>
	            <%= @shelter.name %></li>
	        <li class='medium-4 column'> <strong>Address:</strong>
	            <%= @shelter.address %></li>
	        <li class='medium-4 column'>
	            <strong>Phone:</strong>
	            <%= @shelter.phone %></li>
	        <li class='medium-4 column'>
	            <strong>Learn more:</strong>
	            <%= @shelter.link %></li>

	    </ul>
	</div>



	<div id="map-canvas">

	<script>
	var map;
	function initialize() {

	  var myLatlng = new google.maps.LatLng(<%= @shelter.latitude %>, <%= @shelter.longitude %>);

	  var mapOptions = {
	    zoom: 15,
	    center: myLatlng
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);

	  var contentString = '<div id="content">'+
	        '<div id="siteNotice">'+
	        '</div>'+
	        '<h1 id="firstHeading" class="firstHeading">K-9 Lifesavers Dog Rescue</h1>'+
	        '<div id="bodyContent">'+
	        '<p>Come visit us!</p>'+
	        '</div>'+
	        '</div>';

	    var infowindow = new google.maps.InfoWindow({
	        content: contentString
	    });

	    var marker = new google.maps.Marker({
	        position: myLatlng,
	        map: map,
	        title: 'K-9 Lifesavers Dog Rescue'
	    });
	    google.maps.event.addListener(marker, 'click', function() {
	      infowindow.open(map,marker);
	    });

	}

	google.maps.event.addDomListener(window, 'load', initialize);

	</script>	
	</div>

</body>
</html>